shivasree/node red flow.txt
[{"id":"d55a41b9.883b2","type":"tab","label":"smart fish pond enabled with cloud applications","disabled":false,"info":""},{"id":"45905b73.3635f4","type":"ibmiot in","z":"d55a41b9.883b2","authentication":"apiKey","apiKey":"a4dc6f30.1018e","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"fish123","applicationId":"","deviceType":"fish1","eventType":"","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":212,"y":209,"wires":[["31304f50.e53b2","336f40b1.eef11","bf8bdaaa.497648","56519760.b881a8","11f6427c.2ce6ee"]]},{"id":"31304f50.e53b2","type":"function","z":"d55a41b9.883b2","name":"temperature","func":"msg.payload=msg.payload.d.temperature\nglobal.set(\"temperature\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":457,"y":134,"wires":[["491b17ec.039658","11f6427c.2ce6ee"]]},{"id":"336f40b1.eef11","type":"function","z":"d55a41b9.883b2","name":"turbidity","func":"msg.payload=msg.payload.d.turbidity\nglobal.set(\"turbidity\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":455,"y":279,"wires":[["296cb431.829c9c","11f6427c.2ce6ee"]]},{"id":"491b17ec.039658","type":"ui_gauge","z":"d55a41b9.883b2","name":"","group":"a751662e.5dd1f8","order":0,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":728,"y":81,"wires":[]},{"id":"296cb431.829c9c","type":"ui_gauge","z":"d55a41b9.883b2","name":"turbidity","group":"a751662e.5dd1f8","order":0,"width":0,"height":0,"gtype":"gage","title":"turbidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":727,"y":316,"wires":[]},{"id":"11f6427c.2ce6ee","type":"debug","z":"d55a41b9.883b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":734,"y":207,"wires":[]},{"id":"9a2b0c4.8a8baf","type":"http in","z":"d55a41b9.883b2","name":"fish","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":265,"y":368,"wires":[["f785cba9.c0ace8"]]},{"id":"f785cba9.c0ace8","type":"function","z":"d55a41b9.883b2","name":"","func":"msg.payload={\"temperature\":global.get(\"temperature\"),\"turbidity\":global.get(\"turbidity\"),\"pH\":global.get(\"pH\"),\"EC\":global.get(\"EC\")}\nreturn msg;","outputs":1,"noerr":0,"x":459,"y":364,"wires":[["f97e3809.cddd38"]]},{"id":"f97e3809.cddd38","type":"http response","z":"d55a41b9.883b2","name":"fish","statusCode":"","headers":{},"x":722,"y":366,"wires":[]},{"id":"6b02146e.86271c","type":"ui_button","z":"d55a41b9.883b2","name":"","group":"b8f8f6f7.8f0ea8","order":3,"width":0,"height":0,"passthru":false,"label":"LIGHTON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"LIGHTON","payloadType":"str","topic":"","x":190,"y":602,"wires":[["3f091680.3fea4a","cb71eed7.9ce54"]]},{"id":"cbc78175.d1f2e","type":"ui_button","z":"d55a41b9.883b2","name":"","group":"b8f8f6f7.8f0ea8","order":4,"width":0,"height":0,"passthru":false,"label":"LIGHTOFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"LIGHTOFF","payloadType":"str","topic":"","x":182,"y":676,"wires":[["3f091680.3fea4a","cb71eed7.9ce54"]]},{"id":"cb71eed7.9ce54","type":"ibmiot out","z":"d55a41b9.883b2","authentication":"apiKey","apiKey":"a4dc6f30.1018e","outputType":"cmd","deviceId":"harshitha","deviceType":"sahithi","eventCommandType":"home","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":481,"y":675,"wires":[]},{"id":"3f091680.3fea4a","type":"debug","z":"d55a41b9.883b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":488,"y":601,"wires":[]},{"id":"b94b949a.ace068","type":"http in","z":"d55a41b9.883b2","name":"","url":"/receive","method":"get","upload":false,"swaggerDoc":"","x":195,"y":739,"wires":[["a561a646.a16da8"]]},{"id":"a561a646.a16da8","type":"function","z":"d55a41b9.883b2","name":"command node","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"x":387,"y":738,"wires":[["d26d819c.bd0d7","cb71eed7.9ce54","3f091680.3fea4a"]]},{"id":"d26d819c.bd0d7","type":"http response","z":"d55a41b9.883b2","name":"response","statusCode":"","headers":{},"x":718,"y":753,"wires":[]},{"id":"bf8bdaaa.497648","type":"function","z":"d55a41b9.883b2","name":"ph sensor","func":"msg.payload=msg.payload.d.pH\nglobal.set(\"pH\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":454,"y":182,"wires":[["acdfc3dc.70dc1","11f6427c.2ce6ee"]]},{"id":"56519760.b881a8","type":"function","z":"d55a41b9.883b2","name":"ec value","func":"msg.payload=msg.payload.d.EC\nglobal.set(\"EC\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":453,"y":233,"wires":[["d398463b.51e928","11f6427c.2ce6ee"]]},{"id":"acdfc3dc.70dc1","type":"ui_gauge","z":"d55a41b9.883b2","name":"","group":"a751662e.5dd1f8","order":3,"width":0,"height":0,"gtype":"gage","title":"ph value","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":723,"y":142,"wires":[]},{"id":"d398463b.51e928","type":"ui_gauge","z":"d55a41b9.883b2","name":"","group":"a751662e.5dd1f8","order":3,"width":0,"height":0,"gtype":"gage","title":"ec value","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":724,"y":259,"wires":[]},{"id":"a4dc6f30.1018e","type":"ibmiot","z":"","name":"fish","keepalive":"60","serverName":"wgxvyy.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"a751662e.5dd1f8","type":"ui_group","z":"","name":"fish","tab":"475c26c4.e994e8","order":2,"disp":true,"width":"6","collapse":false},{"id":"b8f8f6f7.8f0ea8","type":"ui_group","z":"","name":"sahithi","tab":"c6f95c5f.b09a7","order":2,"disp":true,"width":"6","collapse":false},{"id":"475c26c4.e994e8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"c6f95c5f.b09a7","type":"ui_tab","z":"","name":"sahithi","icon":"dashboard","disabled":false,"hidden":false}]